@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 85%;
}

h1, h2, h3, h4, h5 {
    @apply font-bold
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem
}

h3 {
    font-size: 1.25rem
}

h4 {
    font-size: 1.15rem
}

hr {
    @apply my-2
}

input,
textarea,
select
{
    @apply border px-2 py-1 rounded border-gray-300;
    @apply px-1 py-0.5 text-sm;
}

a, button.link {
    @apply text-blue-700 hover:underline;
}

@layer utilities {
    a.black {
        @apply text-inherit;
    }
}

.muted {
    @apply text-gray-400
}

.note,
a.note {
    @apply text-xs text-gray-600
}

a.btn {
    @apply text-inherit no-underline inline-block;
}

button,
a.btn
{
    @apply border rounded-lg px-3 py-1;
    @apply bg-gradient-to-b active:bg-gradient-to-t from-white to-gray-50;
}

button.link
{
    @apply border-none p-0 inline from-transparent to-transparent;
}

button.lg,
a.btn.lg
{
    @apply px-4 py-2;
    font-size: 1.35rem;
}

button.sm,
a.btn.sm
{
    @apply px-2 py-1;
    font-size: .95rem
}

button.xs,
a.btn.xs
{
    @apply px-1.5 py-0.5 rounded;
    font-size: .75rem
}

button.blue
.btn.blue
{
    @apply bg-gradient-to-t from-blue-600 to-blue-500 active:bg-gradient-to-b text-white border-blue-600
}

button.red
{
    @apply bg-gradient-to-t from-red-600 to-red-500 active:bg-gradient-to-b text-white border-red-600
}

button.yellow
{
    @apply bg-gradient-to-t from-yellow-400 to-yellow-300 active:bg-gradient-to-b border-yellow-400
}

.screen-block {
    @apply mb-4 bg-white p-4 border-b;
}
.screen-block > header {
    @apply pb-2 mb-2 border-b;
    @apply flex justify-between items-center;
}
.screen-block > .body {
    @apply pt-2
}
